/* ===== Base ===== */

#prompt-box {
    position: fixed;
    right: 20px;
    top: 58px;
    width: 410px;
    height: 85vh;
    background: #ffffff;
    color: #000;
    z-index: 999999;
    border-radius: 8px;
    overflow-y: auto;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

/* ❌ Hide on tablet */
@media (max-width: 1024px) {
    #prompt-box {
        display: none;
    }
}

/* ❌ Hide on mobile */
@media (max-width: 768px) {
    #prompt-box {
        display: none;
    }
}

/* ===== Header ===== */

.header {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #c58001e3;
    padding: 12px 0;
    border-bottom: 1px solid #21262d;
    font-family: 'Times New Roman', Times, serif;
}

/* ===== Main ===== */

.main {
    margin-left: 25px;
    padding: 20px;
    overflow-y: auto;
}

/* ===== Cards ===== */

.card {
  cursor: pointer;
  padding: 3px;
  border: 1px solid #ddd;
  margin: 8px 0;
  border-radius: 1px;
  background: white;
}

.card:hover {
  background: #f5f5f5;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.use-btn,
.action-btn {
  cursor: pointer;
}

.card-title {
    color: #fa9201;
    font-weight: 600;
    font-size: 12px;
    font-family: Verdana;
}

/* ===== Copy Button ===== */

.copy-btn {
    background: #21262d;
    border: none;
    color: #7ee787;
    border-radius: 6px;
    padding: 4px 8px;
    font-size: 11px;
    cursor: pointer;
}

.copy-btn:hover {
    background: #30363d;
}

/* ===== Text ===== */

.card-content {
    font-size: 12.5px;
    line-height: 1.5;
    color: #67adf4;
    white-space: pre-wrap;
    font-family: 'areal', monospace;
}

/* ===== Bottom Bar ===== */

.bottom-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    background: #0d1117;
    border-right: 1px solid #21262d;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    padding-top: 10px;
}

/* ===== Layout inside prompt-box ===== */
.app-container {
    display: flex;
    height: calc(100% - 50px);
}

/* ===== Sidebar ===== */
#sidebar {
    margin-top: 10px;
    width: 50px;
    background: #f5efe6;
    border-right: 1px solid #21262d;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;

    position: sticky;
    top: 50px; /* header height ke according adjust */
    height: calc(100vh - 120px);
}

/* Sidebar tabs */
.side-tab {
    width: 100%;
    text-align: center;
    padding: 1  px 1px;
    cursor: pointer;
    color: rgb(139, 151, 228);
    font-size: 11px;
}

.side-tab span {
    display: block;
    font-size: 16px;
}

.side-tab:hover {
     background-color: #dbcbb9;
}

.side-tab.active {
    background-color: #dbcbb9;
    color: #eb8b47;
    font-weight: bold;
}

/* ===== Content ===== */
#tabs-container {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    border: black;
}